@import "variables";
body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.btn{
  font-weight: bold;
}

.btn-primary.disabled {
  border: none;
  background-color: $btn-disabled-bg;
  color: $btn-disabled-color;

}