@import "variables";

.launch-guide-text-header {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.2;
}

.launch-guide-col {
  padding-right: 3.5rem;
}
.launch-guide-text-info {
  font-weight: 500;
}

