@import "variables";

.nav-pills {
  .nav-link {
    padding: $nav-pills-padding-y $nav-pills-padding-x;
    &.active {
      font-weight: $nav-pills-link-active-font-weight;
    }
  }
}

li > a {
color: #f0f8fc;
}