@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$main-background-color: #f0f8fc;
$launch-guide-img-width: 250px;

$body-bg: $main-background-color;

$btn-disabled-color: #7a8387;
$btn-disabled-bg: #e9f1f3;
$btn-send-mg: 17px;

$gray-800: #272c2e;
$gray-900: #1c2021;
$aside-width: 300px;
$aside-bg: $gray-800;
$aside-font-size: 0.95rem;
$smile-size: 110px;
$smile-card-height: 220px;
$smile-card-width: 170px;

$light-yellow: #ffc114;
$darkblue-500: #0b4575;
$small-block-width: 500px;
$send-button-height: 50px;
$copy-link-area-height: 50px;
$copy-link-area-border-color: #1f2226;
$copy-link-area-bg: transparent;

$input-placeholder-color: #bcbec2;
$textarea-focus-box-shadow: 0 0 10px $light-yellow;
$nav-pills-link-active-font-weight: bold;
$nav-pills-padding-y: 5px;
$nav-pills-padding-x: 20px;

$report-textarea-height: 210px;
$report-textarea-padding: 35px;
$test-aside-bar-color: #ffffff;
$content-block-title-size: 2.3rem;
$big-title-size: 3.5rem;


