@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$main-background-color: #f0f8fc;
$launch-guide-img-width: 200px;

$body-bg: $main-background-color;

$btn-disabled-color: #7a8387;
$btn-disabled-bg: #e9f1f3;


$aside-width: 300px;
$aside-bg: $gray-800;
$aside-font-size: 1.2rem;

$gray-800: #272c2e;
$gray-900: #1b1f21;
$gray-header:#343434;
$light-yellow: #ffd657;
$darkblue-500: #0b4575;

$copy-link-area-height: 50px;
$copy-link-area-border-color: #1f2226;
$copy-link-area-bg: transparent;

$nav-pills-link-active-font-weight: bold;
$nav-pills-padding-y: 10px;
$nav-pills-padding-x: 20px;

$bs-accordion-btn-active-icon:#B6BEC2;